<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons (click)="closeModal()">
        <ion-icon  name="arrow-back-outline" style="font-size: 28px;"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
     Review & Rating
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="content-background">
    <div class="flex-div">
      <div>
      <img src='assets/imgs/rating.png' style="width:100%">
      <div class=input-form padding>
        <div style="font-size:16px; color:#10C841;font-weight:bold;margin-top: 20px;">
          Rate your exprience
        </div>
        <div style="color:#000;font-size: 14px;margin-top:10px">It will help us to improve our sevice</div>
      </div>
        <div style="margin-top:20px">
          <div style="background-color: #EBEBEB;width:100%;padding-left:12px;padding-right:12px;display: flex;justify-content: space-between; align-items: center;">
           <div [ngStyle]="point =='1' ? {'background-color': '#F6700A', 'color': '#fff'} : {'background-color': '#fff', 'color': '#020007'}" (click)="ratePoint('1')" style="width:18%;height:43px;font-size: 20px;display: flex;justify-content: center; align-items: center;padding-top:1;border:1px solid #D5DBE1">
            1
          </div>
          <div [ngStyle]="point =='2' ? {'background-color': '#F6700A', 'color': '#fff'} : {'background-color': '#fff', 'color': '#020007'}" (click)="ratePoint('2')" style="background-color:red;width:18%;height:43px;font-size: 20px;display: flex;justify-content: center; align-items: center;;border:1px solid #D5DBE1">
            2
          </div>
          <div [ngStyle]="point =='3' ? {'background-color': '#F6700A', 'color': '#fff'} : {'background-color': '#fff', 'color': '#020007'}" (click)="ratePoint('3')" style="background-color:red;width:18%;height:43px;font-size: 20px;display: flex;justify-content: center; align-items: center;;border:1px solid #D5DBE1">
            3
          </div>
          <div [ngStyle]="point =='4' ? {'background-color': '#F6700A', 'color': '#fff'} : {'background-color': '#fff', 'color': '#020007'}" (click)="ratePoint('4')" style="background-color:red;width:18%;height:43px;font-size: 20px;display: flex;justify-content: center; align-items: center;;border:1px solid #D5DBE1">
            4
          </div>
          <div  [ngStyle]="point =='5' ? {'background-color': '#F6700A', 'color': '#fff'} : {'background-color': '#fff', 'color': '#020007'}" (click)="ratePoint('5')" style="background-color:red;width:18%;height:43px;font-size: 20px;display: flex;justify-content: center; align-items: center;;border:1px solid #D5DBE1">
            5
          </div>
          </div>
        </div>
        <div style="margin-top:20px; padding-left:15px; padding-right:15px;">
          <div class="subHeading">Share somethings</div>
          <ion-textarea class="textarea" clearOnEdit="true" rows="4" placeholder="Share few words" [(ngModel)]="review" maxLength="140">
          </ion-textarea>

          <div class="button2" (click)="rateUs()">
            <div style="color:#fff">Submit Now</div>
          </div>
        </div>
     
      </div>

    </div>
  </ion-content>
</ion-content>