ion-header ion-toolbar {
    --background:#76ba1b;
}

ion-back-button{
    --color: white !important;
}

ion-content{
    --ion-background-color:#fff;
}

ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}
.desc-value{
    font-size: 14px; letter-spacing: 0.7px; font-weight: 500; color: #6A6A6A;
}