<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Support Request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding class="content-background">
    <div class="flex-div">

      <img src='assets/imgs/Customer-care-service.png' style="width:100%">
      <div class=input-form padding>
        <div style="font-size:14px; color:#0029F3;font-weight:bold;margin-top: 20px;">Please share your Details</div>
        <div >
          <div class="subHeading">Registered Name</div>
          <ion-input readonly type="text" [(ngModel)]="name" placeholder="Name" class="textInput" clearOnEdit=false readonly></ion-input>
        </div>

        <div style="margin-top:20px">
          <div class="subHeading">Registered Contact Number</div>
          <ion-input readonly type="tel" [(ngModel)]="mobile" placeholder="Mobile Number" class="textInput" clearOnEdit=false></ion-input>
        </div>
        <!-- <div style="margin-top:20px">
          <div class="subHeading">Alternative Contact Number</div>
          <ion-input type="tel" [(ngModel)]="login" placeholder="Mobile number" class="textInput" clearOnEdit=false
            ></ion-input>
        </div> -->

        <div style="margin-top:20px">
          <div class="subHeading">Email</div>
          <ion-input type="email" [(ngModel)]="email" placeholder="Email" class="textInput" clearOnEdit=false></ion-input>
        </div>

        <div style="margin-top:20px">
          <div class="subHeading">Subject</div>
          <ion-select (ionChange)="checkValue()" interface="popover" placeholder="Select One"  placeholder="Select" [(ngModel)]="subject">
            <ion-select-option  *ngFor="let issue of typeArr" value="{{issue?.type}}">{{issue.name}}</ion-select-option>
          </ion-select>
        </div>

        <div style="margin-top:20px" *ngIf="order_code != undefined ">
          <div class="subHeading" >Order ID</div>
          <ion-input readonly type="text" [(ngModel)]="order_code" placeholder="Order number" class="textInput" clearOnEdit=false></ion-input>
        </div>

        <div style="margin-top:20px">
          <div class="subHeading">Reason</div>
          <ion-textarea class="textarea" clearOnEdit="true" rows="4"  placeholder="Write here..." [(ngModel)]="message"></ion-textarea>
        </div>

      <div style="display: flex;flex-direction: row;margin-top:20px" *ngIf="order_code != undefined && subject != 'contactrequest'">
        <ion-checkbox color="primary" [(ngModel)]="tick"></ion-checkbox>
        <div class="fieldLabel" style="margin-left:8px;font-size:12px">Accept Order Replace & Cancel Policy. <a (click)="read()">Read it</a></div>
      </div>
      
        <div class="button" (click)="supportReq()">
          <div style="color:#fff">Request For Discussion</div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-content>