<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back-outline"  ></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      Add Address
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="mainContainer">
      <div class="fieldLabel" style="font-size:13px;font-weight: 600;color:#646464">Your Location</div>
      <div class="fieldLabel" style="margin-top:3px;font-size:15px;color:#000000" (click)="addressModal()">{{location}}
      </div>
      <div class="line"></div>
      <div class="map-wrapper">
        <div id="map_center">
          <img src="assets/images/pin.png" class="mappin" />
        </div>
        <div #map id="map"></div>
      </div>

      <div style="margin-top:20px">
        <div class="subHeading">Pin code</div>
        <ion-input type="tel" placeholder="e.g. 712611" [(ngModel)]="postal_code"  class="textInput" clearOnEdit=false>
        </ion-input>
      </div>

      <div style="margin-top:20px">
        <div class="subHeading">Bill to</div>
        <ion-input type="text" placeholder="e.g. Jhone Doe" [(ngModel)]="name"  class="textInput" clearOnEdit=false>
        </ion-input>
      </div>

      <div style="margin-top:20px">
        <div class="subHeading">Contact Number</div>
        <ion-input type="tel" placeholder="Contact Number" [(ngModel)]="mobile"  class="textInput" clearOnEdit=false maxlength="10">
        </ion-input>
      </div>
     
      <div style="margin-top:20px">
        <div class="subHeading">Address Line 1</div>
        <ion-input type="text" [(ngModel)]="address_line1" class="textInput" clearOnEdit=false placeholder="Village & Post Office">
        </ion-input>
      </div>
      <div style="margin-top:20px">
        <div class="subHeading">Address Line 2</div>
        <ion-input type="text" [(ngModel)]="address_line2" class="textInput" clearOnEdit=false placeholder="e.g. Bengai Choto laxmitala">
        </ion-input>
      </div>
      <div style="margin-top:20px">
        <div class="subHeading">Land Mark</div>
        <ion-textarea class="textarea" clearOnEdit="true" rows="4"  placeholder="How will we reach?" [(ngModel)]="landmark"></ion-textarea>
      </div>
      
      <div style="margin-top:20px">
        <div class="subHeading">Save As</div>
        <ion-select  placeholder="Select One" class="textInput" placeholder="Select" [(ngModel)]="type">
          <ion-select-option value="home">Home</ion-select-option>
          <ion-select-option value="work">Work</ion-select-option>
          <ion-select-option value="other">Others</ion-select-option>
        </ion-select>
      </div> 

      <div class="continueBtn" (click)="addAddress()">
        Save Address
      </div>
    </div>

  </div>
</ion-content>