ion-header ion-toolbar {
	--background:#76ba1b;
}

ion-back-button{
    --color: white !important;
}
.header{
	--background: #252222;
}
ion-content{
    --ion-background-color:#fff;
}
.curve-div{
	height: 10px;width: 100%;background: #332F2F;
	.sub-curve{
		height: 13px;width: 100%;background: #F9F9F9;border-radius: 30px 30px 0 0;
	}
}

.trailer-info{
	
	.trailer-main{
		padding: 15px;
		.main-column{
			display: flex;flex-direction: column;justify-content: center;
			.main-row{
				display: flex;flex-direction: row;justify-content: flex-start;
				.row-one{
					display: flex;
					flex-direction: column;
					justify-content: center;
					border: 0.8px solid #fff;
    				border-radius: 4px;
					.row-one-image{
					   width:90px;border-radius:13px;object-fit: cover;
					}
				}
				.row-two{
					padding-left: 13px;
					.sec-one{
						font-size: 14px;
						font-weight: 600;
						letter-spacing: 0.5px;
						padding: 3px 0;
					}
					.sec-two{
						display: flex;flex-direction: row;justify-content: flex-start;
            			padding: 3px 0;
						.title-lebel{
							font-size: 12px;
							font-weight: 500;
							letter-spacing: 0.5px;
							color: #9297A1;
						}
						.title-value{
							font-size: 12px;
              				//font-weight: 600;
              				letter-spacing: 0.5px;
							color: var(--white-color);
						}
					}
				}
			}
		}
	}
	.trailer-curved{
		height:18px;
		width:100%;
		background:var(--background-content);
		border-radius:15px 15px 0 0;
	}
}

.calender-img{
	height: 16px;
  }

  .dateInput{
   padding-left:8px;
    font-size: 14px;
    color: #121F3E;
}

.textInput{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top:15px;
    height:50px;
    padding-right:8px;
}

.textarea{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top:15px;
   // height:93px;
    padding:6px 8px 6px 8px;
}
.radiogrp{
	display:flex;
	flex-direction:'row';
	justify-content:flex-start;
	align-items: center;
	margin-top:15px
}
.uploadContainer{
    margin-top:25px;
    width:100%;
    background-color: #F6F5F8;
    border-radius:5px;
    height:250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px dashed #D9D6D4;
   // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1.5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.placeHolderContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.uploadBtn{
    color: #000;
    background-color: #fff;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size:14px;
    font-weight:700;
    box-shadow: 0px 2px #00000029;
}

.continueBtn{
    color: #fff;
    background-color: var(--secondary);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
   
}

.mainContainer{
	padding:6px 20px 30px 20px;
}
.headinglebel{
	color:#121F3E;
	font-size:14px;
	font-weight:bold
}
.dateTimeMainContainer{
	margin-top:8px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items: center;
}
.dateInputfield{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center
}

.fieldLabel{
	color:#121F3E;
	font-size:14px;
	font-weight:bold;
	margin-top:15px
}
.line{
	margin-top:12px;border-top:1.5px dashed #9297A1;
	margin-bottom: 12px;
}
.otherLabel{
	color:#121F3E;font-size:14px;font-weight:bold;margin-left:8px
}
.otherlabelTitle{
	margin-top:20px;color:#9297A1;font-size:14px;
}
.radioContainer{
	display:flex;justify-content:flex-start;align-items:center;margin-top:15px
}

#map_canvas {
	width: 95%;
	height: 80%;
	border: 1px solid red;
  }
  
  
  #address {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
  }
  
  #map {
	width: 100%;
	height: 30vh;
  }
  .select-disabled, .item-select-disabled ion-label {
	opacity: 1;
   }
  .map-wrapper {
	position: relative;
  
	#map_center {
	  position: absolute;
	  z-index: 99;
	  height: 40px;
	  width: 40px;
	  top: 50%;
	  left: 50%;
	  margin-left: -21px;
	  margin-top: -41px;
	}
	.mappin{
		height:30px
	}
  }
  .uplaodContainer2{
    width:100%;
    //padding:30px;
    border-radius:8px;
    height:250px;
    background-color:#dbdbdb;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
};