<ion-content >
  <div style="text-align: end;padding-right: 12px; font-size: 25px; font-weight: bold;margin-top: 10px;">
    <ion-icon name="close-outline" (click)="closePopover()"></ion-icon>
  </div>
  <div style="margin-bottom: 6px;"></div>
  <div style="padding: 0px 10px 10px 10px; text-align: left;">
    <div style="display: flex;justify-content: flex-start;">
      <div style="background: #055ea4;width:100%;color:#fff;padding:8px;font-weight: bold;text-align: center;"> Transaction Overview</div>
    </div>
  
    <div style="display: flex;justify-content: flex-start;">
      <div style="width:100%;border:1px solid #c2c2c2;padding:8px;">Txn Date - {{details?.created_at}}</div>
    </div>
    <div style="display: flex;justify-content: flex-start;color: red;">
      <div style="width:100%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;">*{{details?.remarks}}</div>
    </div>
    <div style="display: flex;justify-content: flex-start;">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> Transaction Type</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;"> {{details?.trans_type}}</div>
    </div>
    <div style="display: flex;justify-content: flex-start;">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> Transaction Mode</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;">{{details?.service}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;" *ngIf="details?.orderdet != null">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> Order Id</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;">{{details?.orderdet?.code}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;" *ngIf="details?.orderdet != null">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px">Customer Name</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;">{{details?.orderdet?.cust_name}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;" *ngIf="details?.orderdet != null">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> Order Amount</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;">₹ {{(details?.orderdet?.item_total - details?.orderdet?.coupon_discount).toFixed(2)}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;" *ngIf="details?.payoutreq != null">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px">Payment Status</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;">{{details?.payoutreq?.status}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;" *ngIf="details?.payoutreq != null && details?.payoutreq?.adminremarks != ''">
      <div style="width:100%;border:1px solid #c2c2c2;padding:8px;text-transform: capitalize;color: red;">
        Admin Note:<br>
        {{details?.payoutreq?.adminremarks}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> Opening Balance</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px">₹ {{details?.balance}}</div>
    </div>

    <div style="display: flex;justify-content: flex-start;">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> {{details?.payoutreq  == null ? details?.service == 'fundreturn'?"Returned Amount":"Comission Amount": "Payout Amount"}}</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px">₹ {{details?.amount}}</div>
    </div>

   

    <div style="display: flex;justify-content: flex-start;">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> Closing Balance</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> ₹ {{details?.closing_bal}}</div>
    </div>
  </div>
  </ion-content>
  