ion-content{
	background-color: #E5E5E5 !important;
}
.agentLebelContainer{
    padding: 4px 7px;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    border-radius: 0px 0px 10px 0px;
    font-size: 16px;
    color: #fffdfb;
    /* margin-top: 1px; */
    /* margin-bottom: 7px; */
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.custom-header{
	.custom-toolbar{
		--background:#76ba1b;
	}
	.custom-search-div{
		.hSearch-main{
			display: flex;flex-direction: row;letter-spacing: 0.5px;
			.category-main{
				display: flex;flex: 1;background: #76ba1b;justify-content: center;
				padding: 5px 5px 5px 10px;
				.category-sub{
					background: white;max-height: 47px;
        	        border-radius: 4px;display: flex;
					.category-title{
						text-align: center; display: flex; flex-direction: column;color: #FF4E00;align-items: center;
						justify-content: center;padding: 10px; min-height: 47px;font-size: 13px;font-weight: 600;letter-spacing: 0.5px;
					}
				}
			}
			.search-main{
				display: flex;flex: 4.5;background: #76ba1b;;justify-content: center;
				padding: 5px 10px 5px 5px;
				.search-sub{
					background: white; border-radius: 4px;display: flex; max-height: 47px;
					border-radius: 4px;
					display: flex;
					max-height: 47px;
					width: 100%;
					/* justify-content: center; */
					align-items: center;
					padding: 16px;
					.category-title{
						text-align: center; display: flex; flex-direction: column;color: #D5DBE1;
						justify-content: center;padding: 10px; min-height: 47px;font-size: 13px;font-weight: 600;letter-spacing: 0.5px;
					}
					.custom-ionic-search{
						--box-shadow: none !important;
						--border-radius: 0 !important;
					}
				}
			}
		}
	}
}

.custom-content{

	.main-banner-div{
		width: 100%;
		.slider-img{
			//width: 100%;
      	    //margin-top:px
			  width: 95%;
			  border-radius: 12px;
		}

		.slider-img2{
		 width: 100%;
      	margin-top:8px
		}
	}

	.product-main-content{
		padding: 0 5px;
		.product-heading{
			font-size: 16px; font-weight: 600; letter-spacing: 1px; padding: 15px 10px 10px 10px;
		}
		.product-heading2{
			font-size: 16px; font-weight: 600; letter-spacing: 1px; padding: 4px 10px 10px 10px;
			
		}
		.items-main-div{
			display: flex; flex-wrap: wrap;
			// justify-content: center;
			justify-content: flex-start;
			padding-bottom: 8px;
			.item-loop-div{
				// width:45%;
				width:47%;
				margin:5px;
				.item-div{
					position: relative;
					border: 1px solid #00000029;
					border-radius:4px;
					// new added ==>
					// min-height: 300px;
					min-height: 294px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					// new added END ==>
					.item-image{
						object-fit: cover;width: 80%;
						margin-top: 8px;
                        margin-left: 8px;
					}
					.item-title{
						font-size: 13px; letter-spacing: 0.5px; padding: 5px 5px 0px 10px; font-weight: 500;overflow: hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						width: 98%;
					}
					.content-price{
						font-size: 14px; letter-spacing: 0.5px; padding: 0px 10px;font-weight:700;
						.actual-price{
							text-decoration:line-through;margin-left: 10px;font-size: 13px;color:#8c8b8b;
						}
					}
					.item-variant{
						font-size: 13px; letter-spacing: 0.5px; padding: 0px 5px 5px 10px; color: green;text-transform: capitalize;
					}
					
					.btn-addtoCart{
						font-size: 13px;
						padding: 8px 5px; color: white; text-align: center;
						margin: 5px 10px;margin-bottom: 10px; background: #4c9a2a; border-radius: 5px;
					}
					
					.btn-incDesc{
						color: white; text-align: center; margin: 5px 10px;margin-bottom: 10px;
						font-size: 15px; letter-spacing: 0.5px; background: #4c9a2a; 
						border-radius: 7px;display: flex;
						.icon-incDesc{
							flex: 1; display: flex; background: #4c9a2a; padding: 2px;
							justify-content: center;font-size: 15px; letter-spacing: 0.5px;
							font-size: 1.5rem; border-radius: 4px;
						}
						.btn-count{
							flex: 1; display: flex; background: white;border:0.5px solid #4c9a2a;padding: 1px;
							justify-content: center; font-size: 1rem;  color: black;
							flex-direction: column;font-size: 15px; letter-spacing: 0.5px; padding-top: 4px;
						}
					}


				}
			}
		}
	}

	.main-cat-div{
		padding: 0 8px;
		.category-div{
			display: flex; flex-wrap: wrap;
			// justify-content: center;
			justify-content: flex-start;
			margin-top:0px;
			padding-bottom:10px;padding-top:10px;
			.category-loop-div{
				// height: 48vw; 
				//min-height: 47vw;
				width: 45vw; margin: 5px;
				//border: 1px solid #a4de02;
				box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
				background-color: #fff;
				border-radius: 4px;
				.category-item-div{
					// border: 1px solid #00000029;
					.category-img{
						// width: 95%;
						width: 70%;
						object-fit: cover;
						margin-top: 10px;
						//margin-left: 6px;
					}
					.category-title{
						font-size: 13px;color: #e74b01; letter-spacing: 0.6px; font-weight: 600;padding: 12px  16px;text-align: center;
					}
				}
			}
		}
	}
	

	.custom-footer-section{
		margin-top: 20px;
		background-color: #d5f7d2;
		border-top-right-radius: 15px;
        border-top-left-radius: 15px;
		.footer-img-div{
			display: flex; flex-direction: row; justify-content: center;
			.footer-img{
				width: 45vw;
				margin-top:20px
			}
		}
		.footer-quote{
			color: #FF4E00; text-align: center; padding: 10px 4px 3px 4px;
  		font-size: 16px; letter-spacing: 0.3px; font-weight: 500;
		}
		.footer-quote-author{
			text-align: center; padding-bottom: 18px; font-size: 16px;
  		letter-spacing: 0.8px; font-weight: 600;
		  
		}
	}

	.product-heading2{
		font-size: 16px; font-weight: 600; letter-spacing: 1px; padding: 15px 10px 8px 10px;display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.price-discount{
	padding-bottom:1px; color: #10C841;
	letter-spacing: 0.5px;font-size: 13px;margin-left: 10px;
}

.shake{
	-webkit-animation: shake .5s ease-in-out;
	animation: shake .5s ease-in-out;
  }
  
//   @keyframes shake {
// 	0% { transform: translate(1px, 1px) rotate(0deg); }
// 	10% { transform: translate(-1px, -2px) rotate(-1deg); }
// 	20% { transform: translate(-3px, 0px) rotate(1deg); }
// 	30% { transform: translate(3px, 2px) rotate(0deg); }
// 	40% { transform: translate(1px, -1px) rotate(1deg); }
// 	50% { transform: translate(-1px, 2px) rotate(-1deg); }
// 	60% { transform: translate(-3px, 1px) rotate(0deg); }
// 	70% { transform: translate(3px, 1px) rotate(-1deg); }
// 	80% { transform: translate(-1px, -1px) rotate(1deg); }
// 	90% { transform: translate(1px, 2px) rotate(0deg); }
// 	100% { transform: translate(1px, -2px) rotate(-1deg); }
//   }

@-webkit-keyframes shake {
	0% {
	  -webkit-transform: translateX(0);
	}
  
	20% {
	  -webkit-transform: translateX(-10px);
	}
  
	40% {
	  -webkit-transform: translateX(10px);
	}
  
	60% {
	  -webkit-transform: translateX(-10px);
	}
  
	80% {
	  -webkit-transform: translateX(10px);
	}
  
	100% {
	  -webkit-transform: translateX(0);
	}
  }
  @keyframes shake {
	0% {
	  transform: translateX(0);
	}
  
	20% {
	  transform: translateX(-10px);
	}
  
	40% {
	  transform: translateX(10px);
	}
  
	60% {
	  transform: translateX(-10px);
	}
  
	80% {
	  transform: translateX(10px);
	}
  
	100% {
	  transform: translateX(0);
	}
  }

  .moods:before {
    content: 'Grocery';
    animation-name: head;
    //animation-duration: 30s;
    animation-duration: 18s; // <---{ 6sec  num(H2) = 18sec } */
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes head {
    0% {opacity:0;}
    5% {opacity:1; content: "Grocery";  }
    10% {opacity:0;}
    15% {opacity:1; content: "Resturants Food"; }
    20% {opacity:0; }
    25% {opacity:1; content: "Health & Wellness"}
    30% {opacity:0;}
    35% {opacity:1; content: "Package Food"}
    40% {opacity:0; }
    45% {opacity:1; content: "Brevarage"}
    50% {opacity:0; }
    55% {opacity:1; content: "Fashion"}
    60% {opacity:0; }
    65% {opacity:1; content: "Baby Care"}
    70% {opacity:0; }
    75% {opacity:1; content: "Household Items"}
    80% {opacity:0; }
    85% {opacity:1; content: "Dairy Products"}
    90% {opacity:0; }
    95% {opacity:1; content: "Home Living"}
    100% {opacity:0;}
}


