<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Product Details</ion-title>

    <!-- <ion-buttons slot="secondary" style="position: relative; overflow: visible!important;">
      <ion-button (click)="gotoCart()">
        <ion-icon slot="icon-only" name="cart-outline">
        </ion-icon>

        <ion-badge 
        *ngIf="global?.globalCartCount > 0"
        style="background-color: red;
        position: absolute;
        top: -10px;
        right: -4px;
        border-radius: 100%;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 5px;">{{global?.globalCartCount}}</ion-badge>


      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content" [scrollEvents]="true">
  <div class="product-main">
    <div class="title-div">
      <div class="product-title">{{productFullData?.name}}</div>
      <div class="favIcon-div">
        <ion-icon (click)="favFunction(true)" *ngIf="productFullData?.is_wishlist == false" name="heart-outline"
          class="fav-icon"></ion-icon>
        <ion-icon (click)="favFunction(false)" *ngIf="productFullData?.is_wishlist == true" name="heart"
          class="fav-icon-filled"></ion-icon>
      </div>
    </div>
    <!-- <div class="product-title">{{productFullData?.name}}</div> -->

    <!-- <div class="product-img-div">
      <img class="product-image" src="assets/imgs/product_ing.jpeg">
    </div> -->


    <div class="main-banner-div">
      <ion-slides startAutoplay *ngIf="productFullData?.product_images?.length == 0">
        <!-- <ion-slide *ngFor="let imageURL of banner;"> -->
        <ion-slide>
          <img (click)="previewPhoto(productFullData?.image_path)" class="slider-img2"
            [src]='productFullData?.image_path'>
        </ion-slide>

      </ion-slides>

      <ion-slides startAutoplay *ngIf="productFullData?.product_images?.length > 0">
        <ion-slide *ngFor="let imageURL of productFullData?.product_images;">
          <img (click)="previewPhoto(imageURL)" class="slider-img2" [src]='imageURL'>
        </ion-slide>
      </ion-slides>
    </div>


    <!-- <div class="product-discount">You save ₹10 in this order</div> -->

    <div class="product-cart-mainDiv">

      <div class="product-cart-secOne">
        <div class="price-discount" *ngIf="visableProduct?.offeredprice != null">Save amount ₹
          {{(visableProduct?.price-visableProduct?.offeredprice).toFixed(2)}}</div>
        <div class="content-price" *ngIf="visableProduct?.price">RS {{visableProduct?.offeredprice ==
          null?(visableProduct?.price).toFixed(2) :(visableProduct?.offeredprice).toFixed(2)}}
          <span class="actual-price" *ngIf="visableProduct?.price"> {{visableProduct?.offeredprice != null ?'₹
            '+(visableProduct?.price).toFixed(2):null}} </span>
        </div>
        <div class="tax-div" *ngIf="visableProduct?.price">( Inclusive of all taxes )</div>
      </div>

      <div class="product-cart-secTwo">
        <!-- <div class="btn-addtoCart" *ngIf="!showIncDescBtn" (click)="addToCart()">Add to cart</div>

        <div class="btn-incDesc" *ngIf="showIncDescBtn" (click)="addToCart()">
          <div class="icon-incDesc">-</div>

          <div class="btn-count">{{visableProduct?.cart_quantity}}</div>

          <div class="icon-incDesc">+</div>
        </div> -->
        <div style="margin-bottom: 4px;" *ngIf="visableProduct?.quantity != '0'">
          <div class="btn-addtoCart" *ngIf="visableProduct?.cart_quantity == 0 || visableProduct?.cart_quantity == null" (click)="addToCart(visableProduct,1)">
            Add to cart</div>

          <div class="btn-incDesc" *ngIf="visableProduct?.cart_quantity > 0">
            <div class="icon-incDesc" (click)="addToCart(visableProduct,-1)">-</div>

            <div class="btn-count" (click)="addBulkQuantiry(visableProduct)">{{visableProduct?.cart_quantity}}</div>

            <div class="icon-incDesc" (click)="addToCart(visableProduct,1)">+</div>
          </div>
        </div>
      </div>

    </div>


    <!-- <div class="product-variant">500 GM</div> -->

    <div>
      <div *ngIf="productFullData?.variant_options !=null"
        style="font-size: 14px; letter-spacing: 0.5px; font-weight: 600; padding-bottom: 5px;margin-top:15px">
        Available {{productFullData?.variant}}
      </div>
      <ion-segment class="custom-segment" scrollable mode="md" [(ngModel)]="sizeOrVariant">
        <ion-segment-button
          [ngClass]="product == visableProduct?.variant_name  ? 'custom-segment-btn active' : 'custom-segment-btn' "
          mode="ios" value="{{product}}" *ngFor="let product of productFullData?.variant_options; let i=index;"
          (click)="changeSizeOrVariant(product)">
          <p class="product-variant">{{product}}</p>
        </ion-segment-button>
      </ion-segment>
    </div>


    <div style="margin-top: 10px;">
      <div *ngIf="productFullData?.colors !=null"
        style="font-size: 14px; letter-spacing: 0.5px; font-weight: 600; padding-bottom: 5px;">
        Available Color
      </div>
      <ion-segment class="custom-color-segment" scrollable mode="md" [(ngModel)]="productColorCode">
        <!-- [ngClass]="productColorCode == productColor.id ? 'custom-segment-btn active' : 'custom-segment-btn' " -->
        <ion-segment-button
          [ngClass]="visableProduct?.color == productColor ? 'custom-segment-btn active' : 'custom-segment-btn' "
          mode="ios" value="{{productColor}}" *ngFor="let productColor of productFullData?.colors; let i=index;"
          (click)="changeProductColor(productColor)" [ngStyle]="{'background': productColor? productColor : '#000'}">

        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="company-img-div" style="color:red;font-size: 13pt;margin-left: 1px;"
      *ngIf="visableProduct?.quantity == '0'">
      Product is Out Of Stock right now. It will be available soon.
    </div>
    <div class="company-img-div" style="color:rgb(255, 145, 0);font-size: 13pt;margin-left: 1px;"
      *ngIf="visableProduct?.quantity > 0 && visableProduct?.quantity < 5">
      Hurry Up! Limited Stock Left
    </div>
   
    <div class="table" *ngIf="visableProduct.qty_prices != ''">
      <div class="row header">
        <div class="cell"><strong>Quantity</strong></div>
        <div class="cell"><strong>Price</strong></div>
      </div>
      <div *ngFor="let item of visableProduct?.qty_prices" class="row">
        <!-- <div class="cell">{{item?.qty_gt + ' - ' + item?.qty_le}}</div> -->
        <div class="cell">{{item?.qty_le != null ? this.coverNumber(item?.qty_gt) + 1 : 'Above ' + item?.qty_gt}} {{item?.qty_le != null ? ' - ' + item?.qty_le : null }}</div>
        <div class="cell">₹ {{item?.price}}</div>
      </div>
    </div>







    <div class="product-desc-div">
      <div class="desc-heading" style="margin-top:22px" *ngIf="productFullData?.name">Product Descriptions</div>
      <!-- <div class="desc-value" [innerHTML]="sanitizer.bypassSecurityTrustHtml(productFullData?.description)"></div> -->
      <div class="desc-value" [innerHTML]="productFullData?.description"></div>
    </div>

    <!-- <div class="product-desc-div">
      <div class="desc-heading" style="font-size: 14px;">Country of Origin</div>
      <div class="desc-value">India</div>
    </div>-->

    <!-- <div class="product-desc-div" (click)="open()">
      <div class="desc-heading" style="font-size: 14px;">Manufacturer Details</div>
      <div class="desc-value">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div> -->

  </div>



  <div class="product-main-content" style="background-color: #fff;">
    <div class="product-heading" *ngIf="others_products !=''">{{pageSource == 'home'?"More Hot Deals" :"Related Products"}}</div>
    <div class="items-main-div">
      <div class="item-loop-div" *ngFor="let item of others_products; let i=index">
        <div class="item-div">
          <div>
            <img class="item-image" [defaultImage]="defaultImage" [lazyLoad]="item?.image_path" />
          </div>
          <div class="item-title">{{item?.name}}</div>

          <div class="content-price">₹ {{item.product_variants[0]?.offeredprice == null
            ?(item.product_variants[0]?.price).toFixed(2):(item.product_variants[0]?.offeredprice).toFixed(2)}} <span
              class="actual-price"> {{item.product_variants[0]?.offeredprice != null ?
              '₹'+(item.product_variants[0]?.price).toFixed(2):null}} </span></div>

          <div class="btn-addtoCart" (click)="gotoProductDetails(item)">
            View Details</div>

          <!-- Discount price lebel -->
          <div style="position: absolute;top:0;left:0;" *ngIf="item.product_variants[0].offeredprice != null">
            <div class="agentLebelContainer">
              <!-- ₹200 OFF -->
              ₹{{item?.product_variants[0]?.offeredprice ?  
                (item.product_variants[0].price-item.product_variants[0].offeredprice).toFixed(2)
                :0
              }} OFF
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>



</ion-content>

<ion-footer class="custom-footer" *ngIf="global?.globalCartCount >0 && global?.globalCartPrice >0">
  <div class="footer-main" (click)="gotoCart()">
    <div class="footer-sec-one">
      <div class="sec-one-main">

        <div class="sec-one-quantity">{{global?.globalCartCount}}</div>
      </div>
      <div>
        <div class="sec-one-price" style="padding-top:10px;font-size:13px;text-transform: uppercase;">MRP Total</div>
        <div class="sec-one-price" style="letter-spacing: 1px;font-weight: bold;padding-top: 2px;">
          ₹{{global?.globalCartPrice}}</div>
      </div>

    </div>
    <div class="footer-sec-two">View Cart</div>

  </div>
</ion-footer>