ion-content{
    --ion-background-color:#fff;
   }
   .continueBtn{
    color: #fff;
    background-color: var(--secondary);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-top:30px
   
}