<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons (click)="dismiss()">
        <ion-icon name="arrow-back-outline" style="font-size: 28px;"></ion-icon>
      </ion-buttons>
    </ion-buttons>

    <ion-title>Apply Coupon</ion-title>

    <!-- <ion-buttons slot="secondary" 
    style="position: relative; overflow: visible!important;">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline">
        </ion-icon>
        
        <ion-badge style="background-color: red;
        position: absolute;
        top: -10px;
        right: -4px;
        border-radius: 100%;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 5px;">11</ion-badge>


      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <!--<div class="main-promoCode">
    <div class="promocode-div">
      <div class="promocodeContainer">
        <ion-input style="height: 50px;text-transform: uppercase;font-size: 14px;" [(ngModel)]="coupon_codeName" type="text" placeholder="Enter coupon code" clearOnEdit=false></ion-input>
      </div>
      <div class="applyDiv" (click)="applyCoupon()" [ngStyle]="{'color':coupon_codeName.length > 0 ? '#E57607' : 'rgb(231 231 231)' }">APPLY</div>
    </div>
  </div>-->


  <div class="list-container">
   
    <div class="couponMain" *ngFor="let item of coupon_codes; let i = index">
      <div class="logoContainer">
        <img class="item-image" src="assets/imgs/dark-logo.png" style="width:30%">
        <div class="applyBtn" (click)="selectCode(item)">APPLY</div>
      </div>
      <div class="couponTitle">{{item?.description}}</div>
      <div style="margin-top: 4px;color: #3a3a3a;;">
        <div style="padding-bottom:5px">Coupon Code - <span style="color:#000">{{item?.code}}</span></div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; padding:0px 6px 5px 0px;">
          <div>Expires - <span style="color:#000">{{item?.valid_till?item?.valid_till:"Lifetime"}}</span></div>
          <div style="text-decoration: underline;color:rgb(6, 153, 37)" (click)="showHide(i)">view details</div>
        </div>  
      </div>
      
      <div class="item-sec-two" *ngIf="item?.flag">
        <div class="product-discount">Terms & Condition</div>
        <div class="addition-feature" >
          <div class="aFeature-title" *ngIf="item?.type" style="text-transform: capitalize;">- Coupon type - {{item?.type}}</div>
          <div class="aFeature-title" *ngIf="item?.min_order">- Minimum order - Rs.{{item?.min_order}}</div>
          <div class="aFeature-title" *ngIf="item?.max_discount">- Maximum discount - Rs.{{item?.max_discount}}</div>
          <div class="aFeature-title" *ngIf="item?.max_usages">- Valid for first {{item?.max_usages}} user</div>
          <div class="aFeature-title" *ngIf="item?.valid_till">- Valid upto {{item?.valid_till?.split(' ')[0]}}</div>
        </div>
      <!--<div class="actual-price" >{{item?.code}}</div>-->
      </div>
    </div>









    <!-- <div class="mainlist-container" >
      <div class="cart-item-main" *ngFor="let item of coupon_codes; let i = index">
        <div class="item-sec-one">
          <img class="item-image" src="assets/imgs/dark-logo.png">
        </div>
        <div class="item-sec-two">
          <div class="product-title">{{item?.description}}</div>
          <div class="product-discount" (click)="showHide(i)">View T&C</div>
          <div class="addition-feature" *ngIf="item?.flag">
            <div class="aFeature-title" *ngIf="item?.min_order">- Minimum Order- Rs.{{item?.min_order}}</div>
            <div class="aFeature-title" *ngIf="item?.max_discount">- Maximum discount- Rs.{{item?.max_discount}}</div>
            <div class="aFeature-title" *ngIf="item?.max_usages">- Valid for first {{item?.max_usages}} user</div>
            <div class="aFeature-title" *ngIf="item?.valid_till">- Valid upto {{item?.valid_till?.split(' ')[0]}}</div>
            
          </div>
          <div class="actual-price" >{{item?.code}}</div>
       
        </div>
        <div class="item-sec-three" (click)="selectCode(item)">
          <ion-icon name="arrow-forward-circle-outline" style="font-size: 28px;"></ion-icon>
        </div>
      </div>

    </div>-->
    <div *ngIf="coupon_codes == '' "
      style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;">
      <img style="width:184px" src="assets/imgs/not_data.gif" />
      <div style="text-align: center;font-size: 16px; color:#7d7d7d">Sorry!, No promo offers not found.</div>
      <div class='btnContainer'>

      </div>
    </div>
  </div>

</ion-content>