<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Order Checkout</ion-title>

    <!-- <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="cartItems?.length > 0">
    <!-- Address section -->
    <div class="address-div">
      <div class="address-content-div" *ngIf="global.defaultAddress_id != '' ">
        <div class="address-heading">Delivery Address</div>
        <div class="address-details">
          <div class="add-name">{{global?.defaultAddress?.name}}</div>
          <div class="add-desc">{{global?.defaultAddress?.full_address?.address_line1}}</div>
          <div class="add-desc">{{global?.defaultAddress?.location}}</div>
          <div class="add-desc">+91 {{global?.defaultAddress?.mobile}}</div>
        </div>

        <div class="address-changeBtn-div">
          <div class="address-changeBtn" (click)="chooseAddress()">
            Change address
          </div>
        </div>
      </div>

      <div class="address-content-div" *ngIf="global.defaultAddress_id == ''">
        <div class="address-heading" style="font-size: 14.5px;color:#8d8d8d;letter-spacing: 0.4px;font-weight:500">Address
          not found <br /> Kindly select default address first</div>
        <div class="address-changeBtn-div" (click)="chooseAddress()">
          <div class="address-changeBtn">
            Select Address
          </div>
        </div>
      </div>

    </div>

    <!-- Cart item section -->
    <div class="cart-tem-section">
      <div class="cart-item-main" style="flex-direction: column;" *ngFor="let item of cartItems; let i=index;">

        <div style="margin-right: 14px; text-align: left; padding: 0px 10px 0px 14px;">
          <div class="product-title">{{item?.variant?.product?.name}}</div>
        </div>
        <div class="cart-item-main">
          <div class="item-sec-one">
            <!-- <img class="item-image" src="assets/imgs/product_ing.jpeg"> -->
            <img class="item-image" [src]="item?.variant?.product?.image_path" style="padding-left: 6px;">
          </div>
          <div class="item-sec-two">
            <div class="product-discount" *ngIf="item?.variant?.offeredprice != null">You save ₹{{(item?.variant?.price
              - item?.variant?.offeredprice).toFixed(2)}}</div>
            <div class="content-price">RS {{item?.variant?.offeredprice ==
              null?(item?.variant?.price).toFixed(2):(item?.variant?.offeredprice).toFixed(2)}}
              <span class="actual-price"> {{item?.variant?.offeredprice !=
                null?'₹'+(item?.variant?.price).toFixed(2):null}} </span>
            </div>
            <div class="product-discount"
              style="color:rgb(80, 80, 80);font-size: 12pt;margin-top: 1px; text-transform:capitalize;">
              {{item?.variant?.variant}}</div>
            <div class="product-discount" style="color:red;font-size: 12pt;" *ngIf="item?.variant?.quantity == '0'">Out
              Of Stock</div>
          </div>

          <div class="item-sec-three">

            <div class="btn-incDesc">
              <div class="icon-incDesc" (click)="addToCart(item,-1)" *ngIf="item?.variant?.cart_quantity >1">-</div>
              <div class="icon-incDesc" (click)="addToCart(item,-1)" *ngIf="item?.variant?.cart_quantity ==1"><ion-icon name="trash-outline" style="padding-top:6px;font-size: 18px;"></ion-icon></div>
              <div class="btn-count" (click)="addBulkQuantiry(item)">{{item?.variant?.cart_quantity}}</div>

              <div class="icon-incDesc" (click)="addToCart(item,1)">+</div>
            </div>

          </div>
        </div>

        <div class="table" *ngIf="item?.variant?.qty_prices != '' ">
          <div class="row header">
            <div class="cell"><strong>Quantity</strong></div>
            <div class="cell"><strong>Wholesale Price</strong></div>
          </div>
          <div *ngFor="let key of item?.variant?.qty_prices" class="row">
            
            <div class="cell">{{key?.qty_le != null ? this.coverNumber(key?.qty_gt) + 1 : 'Above ' + key?.qty_gt}} {{key?.qty_le != null ? ' - ' + key?.qty_le : null }}</div>
            <div class="cell">₹ {{key?.price}}</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div *ngIf="!allCartData?.coupon_details" (click)="gocouponPage()"
        style="margin-top: 10px;display: flex;justify-content: space-between;align-items: center; flex-direction: row;background-color: #fff; padding: 8px 12px;">
        <div style="display: flex;justify-content: space-between; align-items: center;">
          <img src='assets/imgs/sale.png' style="width:35px">
          <div style="margin-left:8px;font-size: 15px">
            <div>Discount Offers</div>
            <div style="margin-top:2px;font-size: 13px;color:#10C841">{{selectedCoupon?.code && selectedCoupon?.code >0
              ?"Change Coupon":"Apply promo"}}</div>
          </div>
        </div>
        <img src='assets/imgs/arrow.png' style="width:28px">
      </div>

      <!-- After successfully coupon applied -->
      <div *ngIf="allCartData?.coupon_details" (click)="clearCoupon()"
        style="margin-top: 10px;display: flex;justify-content: space-between;align-items: center; flex-direction: row;background-color: #fff; padding: 8px 12px;">
        <div style="display: flex;justify-content: space-between; align-items: center;">
          <img src='assets/imgs/discount_percentage.png' style="width:35px">
          <div style="margin-left:8px;font-size: 15px">
            <div style="margin-top:2px;font-size: 15px;color:#10C841;font-weight: 600;
            letter-spacing: 1px;padding-bottom: 3px;">
              {{allCartData?.coupon_details?.code}}
            </div>
              <div style="font-size: 13px; letter-spacing: 0.5px; color: #10C841;">
                ₹{{allCartData?.coupon_discount}} saved on this order 
              </div>
          </div>
        </div>
        <img src='assets/imgs/close_discount.png' style="width:28px">
      </div>




    </div>

    <!-- Payment details section -->
    <div class="paymentDetails-div">
      <div class="payment-main">
        <div class="payment-heading" style="border-bottom: 1px solid #D5DBE1;font-size: 14px;">PRICE DETAILS</div>
        <div class="payment-devide">
          <div class="payment-common-div addPaddingTop">
            <div class="key-name" style="font-weight: 200;">MRP Total</div>
            <div class="key-value" style="font-weight: 200;">₹{{allCartData?.item_total}}</div>
          </div>
          <div class="payment-common-div" *ngIf="allCartData?.coupon_discount != '0.00' ">
            <div class="common-sub">
              <div class="key-name">Coupon Discount</div>
              <div class="coupon-name" *ngIf="selectedCoupon?.code">{{selectedCoupon?.code}} applied</div>
            </div>
            <div class="key-value">- ₹{{allCartData?.coupon_discount}}</div>
          </div>
          <!-- ==== ( NEW LINE ) LINE COMMENTED DUE TO COUPON FREE CONDITION === -->
          <!-- <div class="payment-common-div addBorder"
            *ngIf="allCartData?.delivery_charge && allCartData?.delivery_charge >0"> -->
            <div class="payment-common-div addBorder"
            *ngIf="allCartData?.delivery_charge && allCartData?.deliverable">
            <div class="key-name">Delivery Charge</div>
            <div class="key-value">
              {{allCartData?.delivery_charge && allCartData?.delivery_charge >0? '₹'+
              allCartData?.delivery_charge:"FREE"}}
            </div>
          </div>
          <div class="payment-common-div addPaddingTop">
            <div class="common-sub">
              <div class="key-name">Grand Total</div>
              <!-- <div class="coupon-name changeColor">You Save ₹50 in this order</div> -->
            </div>
            <div class="key-value">₹{{allCartData?.payable_amount}}</div>
          </div>
          <div class="product-discount" *ngIf="(allCartData?.item_total - allCartData?.payable_amount) > 0">You save
            ₹{{(allCartData?.item_total - allCartData?.payable_amount).toFixed(2)}} in this order</div>
        </div>
      </div>
    </div>

    <!-- Payment Mode section -->
    <div class="payment-mode ">
      <div class="payment-modeMain">
        <div class="paymentMode-heading" style="border-bottom: 1px solid #D5DBE1;">Payment Mode</div>
        <div class="paymentMode-body">

          <div class="paymentMode-options" (click)="chnagePaymentMethod('cash')">
            <div class="option-text">Cash on Delivery</div>
            <div class="radio-div">
              <div class="radio-border">
                <div [ngClass]="paymentoption == 'cash' ? 'radio-background activeColor' : 'radio-background' "></div>
              </div>
            </div>
          </div>
          <div class="paymentMode-options" (click)="chnagePaymentMethod('online')">
            <div class="option-text">Pay Online</div>
            <div class="radio-div">
              <div class="radio-border">
                <div [ngClass]="paymentoption == 'online' ? 'radio-background activeColor' : 'radio-background' "></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
   
    <div class="wave-bottom"></div>
  
    <!-- Payment button section -->
    <div class="paymentBtn-div">
      <div class="paymentBtn-main">
        <div class="btn-secOne">
          <div class="secOne-title">Your Payable Amount</div>
          <div class="secOne-price">RS. {{allCartData?.payable_amount}}</div>
          <div class="secOne-title smallColor">( Inclusive all taxes )</div>
        </div>
        <div class="btn-secTwo">
          <div class="btn-div" (click)="orderNow()">
            <div class="btn-text">Place Order</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cartItems?.length == 0 && loading != true"
    style="height: 90%;display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;">
    <img style="width:184px" src="assets/imgs/not_data.gif" />
    <div style="    text-align: center;
    font-size: 16px;
    color: #7d7d7d;
    padding: 0px 10px 12px 10px;
    padding-top: 15px;
    letter-spacing: 0.5px;">Your shopping bag is empty.Let's go find the products</div>
    <div class='btnContainer'>
      <div class="button" (click)="gotoHome()">
        <div style="font-size:13px">Start Shopping</div>
      </div>
    </div>
  </div>


  <div *ngIf="loading == true">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>