<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
     My Customers
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="product-main-content" style="background-color: #fff;" *ngIf="customers != ''">
    <div class="product-heading" ></div>
    <div class="items-main-div">
      <div class="item-loop-div" *ngFor="let customer of customers; let i=index">
        <div class="item-div" >
          <div style="display: flex;justify-content: center;align-items: center;">
            <img class="item-image" src="{{customer?.avatar}}" />
          </div>
          <div class="content-price">{{customer?.name}}</div>
          <div class="item-title">Orders Count - {{customer?.ordercount}} </div>
          <div class="btn-addtoCart" (click)="callNow(customer?.mobile)">
            Call Now</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="customers == ''" class="notFoundMain">
    <img  src="../../assets/imgs/not_data.gif" style="width:184px;" />
    <div style="margin-top:10px">Sorry!. No data found</div>
  </div>
 
</ion-content>
<ion-footer class="ion-no-border">
  <div class="agentLebelContainer" (click)="addNewCustomer()">
    <div>Add New Customer</div>
    <img src="assets/imgs/add.png" style="width:40px"/>
  </div>
</ion-footer>