<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Product Subcategory</ion-title>

    <ion-buttons slot="end">
      <ion-button style="width:55px" (click)="gotoCart()">
        <ion-icon slot="icon-only" name="cart-outline" style="font-size: 30px;"></ion-icon>
        <ion-badge 
        *ngIf="global?.globalCartCount > 0"
        style="background-color: #ef6d05;
        position: absolute;
        top: -10px;
        right: -4px;
        border-radius: 100%;
        font-size: 11px;
        height: 22px;
        width: 22px;
        letter-spacing: 1px;
        padding: 5px;">{{global?.globalCartCount}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="category-div" *ngIf="loading == false">
    <div class="category-loop-div" *ngFor="let item of subcategoryList; let i=index" (click)="gotoSubCatPage(item)">
      <div class="category-item-div">
          <div>
           
            <img class="category-img" [defaultImage]="defaultImage" [lazyLoad]="item?.icon_path"/>
          </div>
          <div class="category-title">
            <div class="subcat-name">{{item?.name}}</div>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="subcategoryList == '' && loading != true" style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;"> 
    <img style="width:184px" src="assets/imgs/not_data.gif" />
    <div style="text-align: center;font-size: 16px; color:#7d7d7d">Products will be available soon. Please Keep patience.</div>
  </div>

  <div *ngIf="loading == true">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
     
    </ion-list>
  </div>
</ion-content>
