<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
     Earning Program
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="{{earningProgrammeContent?.banner}}" />
    <div>
      <div style="font-weight: 700;font-size: 20px;; color:#133A2B;margin-top: 12px;
    padding: 12px 12px 8px 12px;">Our comission label details</div>
      <div style="padding: 0px 12px 20px 12px;font-size: 13px; color:#133A2B;">Give us orders and make money</div>
    </div>

    <div class="container">
      <div *ngFor="let prize of earningProgrammeContent?.schemes; let i = index">
        <div
          style="display: flex;justify-content: flex-start; align-items: center;flex-direction: column;height: 100%;padding: 6px;">
          <div style="color:#fff;margin-top: 10px;padding-bottom: 13px;">{{prize?.name}}</div>
          <img src="assets/imgs/indian-rupee.png" style="width:75px">
          <div
            style="color:#fff;padding: 10px 6px 10px 6px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;">
            {{prize?.order_agentcommissions[0].type == 'flat'?"₹":null}} {{prize?.order_agentcommissions[0].value}}{{prize?.order_agentcommissions[0].type == 'percent'?"%":null}} per Sale</div>
          <div (click)="presentModal(prize)"
            style="border-radius: 18px;width:100%;text-align: center; color: #16C986;border:1px solid #16C986;background-color: #ffff;padding: 6px 4px;text-align: center;font-size:13px;margin-top:12px">
            <div>Know More</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="continueBtn" (click)="contactUs()">
    Send Agent Request
  </div>
</ion-footer>