<ion-content padding class="global-background" >
  <div class="custom-otp-div">
    <div class="otp-sub-one">
      <div class="otp-main">
        <img src='assets/imgs/order-success.gif' style='margin-bottom:10px'/>
        <div class="class-verification addExtra" *ngIf="message">{{message ? message : ''}}</div>
        <div class="class-verification">Your order has been successfully Placed. wait for approved.</div>
        
        <div class="class-description">Your order ID </div>
        <div class="class-description2">{{order_code}}</div>
            <div class='btnContainer'>
              <div class="button" (click)="gotoHome()">
                <img src='assets/images/arrow-back-orng.png' style='width:12px;margin-right:8px'/>
                <div style="font-size:13px">Continue Shoping</div>
              </div>
            </div>
      </div>
    </div>
  </div>
</ion-content>