<ion-header class="custom-header ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      My Earning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <div class="back-div">

    </div>
    <div class="walletDiv">
      <div style="display: flex;justify-content: space-between;align-items: center;padding-bottom: 11px;">
        <div>
          <div style="font-size: 30px;font-weight: bold;">₹ {{walletBalance}}</div>
          <div style="margin-top: 4px;">Your Balance</div>
        </div>

        <div>
          <img src="assets/imgs/wallet.png" style="width:50px" />
        </div>
      </div>
      <div style="height:1px;background-color: #ebeaea"></div>
      <div style="display: flex;justify-content: space-between;align-items: center;" (click)="viewHistory()">
        <div style="display: flex;justify-content:flex-start;align-items: flex-start;padding-top: 20px;">
          <ion-icon style="font-size: 22px;color: #f5702f;" name="analytics"></ion-icon>
          <div style="margin-left: 6px;color: #f5702f;">Transaction History</div>
        </div>
        <ion-icon style="font-size: 25px;color: #f5702f;margin-top:16px" name="chevron-forward"></ion-icon>
      </div>
    </div>
  </div>
  <div style="position: absolute;top: 155px; width: 97%;">
    <div style="font-weight: 700;font-size: 20px;; color:#133A2B;margin-top: 12px;
       padding: 12px 12px 8px 12px;">Payout Request</div>
    <div style="padding: 0px 12px 20px 12px;font-size: 13px; color:#a7a7a7;">My Requested Payouts Status <a (click)="viewPayoutHistory()"><b>Check Now</b></a> </div>

      <div style="border: 1px solid #e0dfdf; border-radius: 12px; padding:12px;margin-left: 10px;">

        <div class="subHeading">Amount</div>
        <ion-input type="tel" (keyup)="inputValCheck()" [(ngModel)]="amount" placeholder="Enter Amount" class="textInput" clearOnEdit=false></ion-input>
        
        <div class="subHeading">Remarks</div>
        <ion-textarea class="textarea" clearOnEdit="true" rows="4"  placeholder="Type any remarks" [(ngModel)]="remarks"></ion-textarea>
       
        <div style="display: flex;justify-content: space-between;align-items: center;margin-top: 10px;">
        
            <div  style="display: flex;justify-content: center; align-items: center;">
              <div *ngFor="let key of quickAmount; let i =index" (click)="selectAmount(i)" class="agentLabel" [ngClass]="key.selected == true?'agentLabel-active':'agentLabel'"><div>₹ {{key.amount}}</div></div>
            </div>
        </div>
        
        <div *ngIf="amount.trim() && remarks.trim()" class="reqBtn" (click)="requestNow()"><div style="color:#fff" >Request Now</div></div>
        <div *ngIf="!amount.trim() || !remarks.trim()" class="reqBtn" style="background-color: #f8dec6;"><div style="color:#fff" >Request Now</div></div>
      </div>
  </div>
</ion-content>