<ion-header class="ion-no-border">
  <ion-toolbar class="header" style="position:relative">
 
    <ion-buttons >
			<ion-menu-button>
        <img src='assets/imgs/menu.png' style="width:30px">
      </ion-menu-button>
		</ion-buttons>
    <div class="profileComplatePercentageContainer">
      <div class="profilePercentageContainer">
      </div>
      <div class="completeProfileText"></div>
      <div class="rangeContainer">
      </div>
    </div>
    <div class="mainContainer">
      <div>
        <div
          style="position:absolute;height:100px;width:100px;border-radius:50px;top:85px !important;background-color: #FC4500;color:#fff;border:1px solid #fff;justify-content: center;align-items: center;display: flex;font-size: 50px;right:37vw;">
          {{global.userdetails?.name? global.userdetails.name.charAt(0) : 'A'}}
        </div>

      </div>

      <div style="color:#3D3836;font-size:15px;margin-top:18px;font-weight: bold;text-align: center;text-transform: uppercase;">
        {{global.userdetails?.name}}
      </div>
      <div style="color:#3D3836;font-size:14px;margin-top:7px;text-align: center;">
        {{global.userdetails?.mobile ? '+91 ' + global.userdetails.mobile : '' }}
      </div>
      <div (click)="viewComission()" *ngIf="global.selectedScheme != null &&  global.selectedScheme != '' " style="display: flex;justify-content: center; align-items: center;">
        <div class="agentLabel"><div>{{global?.selectedScheme?.name}} Agent </div></div>
      </div>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <div class="mainContainer2">
    <div (click)="editAccount()"
      style="margin-top:20px;margin-bottom:25px; display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
      <div style="display: flex;justify-content: space-between; align-items: center;" >
        <img src='assets/imgs/user.png' style="width:22px">
        <div style="margin-left:8px;font-size: 14px">Edit Account Details</div>
      </div>
      <img src='assets/imgs/arrow.png' style="width:28px">
    </div>

    <div (click)="wallet()" *ngIf="global.selectedScheme != null &&  global.selectedScheme != '' "
    style="margin-top:20px;margin-bottom:25px; display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
    <div style="display: flex;justify-content: space-between; align-items: center;" >
      <img src='assets/imgs/wallet.png
      
      
      ' style="width:22px">
      <div style="margin-left:8px;font-size: 14px">My Earning</div>
    </div>
    <img src='assets/imgs/arrow.png' style="width:28px">
  </div>

    <div (click)="viewComission()" *ngIf="global.selectedScheme != null &&  global.selectedScheme != '' "
    style="margin-top:20px;margin-bottom:25px; display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
    <div style="display: flex;justify-content: space-between; align-items: center;" >
      <img src='assets/imgs/discount.png' style="width:22px">
      <div style="margin-left:8px;font-size: 14px">My Comission Scheme</div>
    </div>
    <img src='assets/imgs/arrow.png' style="width:28px">
  </div>

    <div
    (click)="myOrders()"
      style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
      <div style="display: flex;justify-content: space-between; align-items: center;">
        <img src='assets/imgs/shopping-bag.png' style="width:22px">
        <div style="margin-left:8px;font-size: 14px;">My Orders</div>
      </div>
      <img src='assets/imgs/arrow.png' style="width:28px">
    </div>
    <div
    (click)="wishlist()"
      style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
      <div style="display: flex;justify-content: space-between; align-items: center;">
        <img src='assets/imgs/wishlist.png' style="width:22px">
        <div style="margin-left:8px;font-size: 14px;">My favourites</div>
      </div>
      <img src='assets/imgs/arrow.png' style="width:28px">
    </div>
    <div
    (click)="manageAddr()"
      style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
      <div style="display: flex;justify-content: space-between; align-items: center;">
        <img src='assets/imgs/address.png' style="width:22px">
        <div style="margin-left:8px;font-size: 14px;">Manage Address</div>
      </div>
      <img src='assets/imgs/arrow.png' style="width:28px">
    </div>
    <div
    (click)="support()"
    style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
    <div style="display: flex;justify-content: space-between; align-items: center;">
      <img src='assets/imgs/support.png' style="width:22px">
      <div style="margin-left:8px;font-size: 14px">Help & Supports</div>
    </div>
    <img src='assets/imgs/arrow.png' style="width:28px">
  </div>
    <div
      (click)="changePassword()"
      style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
      <div style="display: flex;justify-content: space-between; align-items: center;">
        <img src='assets/imgs/password.png' style="width:22px">
        <div style="margin-left:8px;font-size: 14px">Change Password</div>
      </div>
      <img src='assets/imgs/arrow.png' style="width:28px">
    </div>
   
    <div
    (click)="about()"
    style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
    <div style="display: flex;justify-content: space-between; align-items: center;">
      <img src='assets/imgs/info.png' style="width:22px">
      <div style="margin-left:8px;font-size: 14px">About Arambagh Plaza</div>
    </div>
    <img src='assets/imgs/arrow.png' style="width:28px">
  </div>

    <div
    (click)="shareApp()"
      style="margin-top:15px;margin-bottom:25px;;display: flex;justify-content: space-between; align-items: center; flex-direction: row;">
      <div style="display: flex;justify-content: space-between; align-items: center;">
        <img src='assets/imgs/share.png' style="width:22px">
        <div style="margin-left:8px;font-size: 14px">Share with friends</div>
      </div>
      <img src='assets/imgs/arrow.png' style="width:28px">
    </div>

    <div class="agentLebelContainer" (click)="joinProgram()" *ngIf="global.userdetails?.referral_code == null">
      <div>Join our earning program</div>
      <img src="assets/imgs/handshake.png" style="width:40px"/>
    </div>

    <div style="display: flex;justify-content: center; align-items: center;margin-top:50px">
      <div style="margin-left: 8px;
      font-size: 14px;
      padding: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: 4px;
      color: #fff;
      background-color: #76ba1b;" (click)="logout()">Logout</div>
    </div>

    <div class="appversion">App Version {{global.appversionValue}}</div>

  </div>
</ion-content>