<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
		<!-- <ion-buttons slot="start">
			<ion-menu-button>
        <img src='assets/imgs/menu.png' style="width:30px">
      </ion-menu-button>
		</ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      <!-- main-dashboard -->
      <img src='assets/imgs/LOGO-HOME.png' style="width:100%;margin-top:8px">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="width:55px" (click)="gotoCart()">
        <ion-icon slot="icon-only" name="cart-outline" style="font-size: 30px;"></ion-icon>
        <ion-badge 
        *ngIf="global?.globalCartCount > 0"
        style="background-color: #ef6d05;
        position: absolute;
        top: -10px;
        right: -4px;
        border-radius: 100%;
        font-size: 11px;
        height: 22px;
        width: 22px;
        letter-spacing: 1px;
        padding: 5px;">{{global?.globalCartCount}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <div class="custom-search-div">

    <!-- <div class="hSearch-main"> -->
      <!-- <div class="category-main" (click)="openCategory()">
        <div class="category-sub" >
          <div class="category-title" >Categories</div>
        </div>
      </div> -->
      
      <!-- <div class="search-main">
        <div class="search-sub" (click)="searchProduct()">
          <img  src="assets/imgs/search.png" />
            <div class="category-title" style="color:#0D0D0D">Search products</div>
         
          <ion-searchbar class="custom-ionic-search" placeholder="Search for products"></ion-searchbar>
        </div>
      </div> -->
      <div style="background:#76ba1b">
        <ion-searchbar 
        (ionInput)="checkSearchValue($event)"
        [(ngModel)]="searchValue"
        mode="androdid" class="custom-ionic-search" placeholder="Search Products"></ion-searchbar>
      </div>

    <!-- </div> -->
  </div>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showLineLoader" class="location-progress"></ion-progress-bar>
</ion-header>

<ion-content class="custom-content">
  <div  *ngFor="let item of productList; let i=index"  class="product-mainDiv" style="border-bottom: 1px solid #E8E5EC">
    <div class="product-mainDiv" style="display: flex;flex-direction: row;">
    <div class="product-img-div">
      <div class="pImg-div" (click)="gotoProductDetails(item)"> 
        
        <img class="pImage" [defaultImage]="defaultImage" [lazyLoad]="item?.image_path"/>
      </div>
    </div>
    <div class="product-content-div">
      <div class="content-main">
        <div class="content-title" (click)="gotoProductDetails(item)">{{item?.name}}</div>
        <div class="content-price" (click)="gotoProductDetails(item)">₹ {{item?.product_variants[0]?.offeredprice == null?(item.product_variants[0]?.price).toFixed(2):(item?.product_variants[0]?.offeredprice).toFixed(2)}} <span class="actual-price"> {{item?.product_variants[0]?.offeredprice !=null? '₹'+(item.product_variants[0]?.price).toFixed(2) :null}} </span></div>
        <div class="price-discount" (click)="gotoProductDetails(item)" *ngIf="item?.product_variants[0]?.offeredprice != null">Save amount ₹ {{(item?.product_variants[0]?.price-item.product_variants[0]?.offeredprice).toFixed(2)}}</div>
        <div class="company-img-div" (click)="gotoProductDetails(item)" *ngIf="item?.variant && item?.product_variants[0]?.variant_name">
          Available {{item?.variant}} - {{item?.product_variants[0]?.variant_name}}
        </div>
        <div class="company-img-div" style="color:red;font-size: 12pt;margin-left: 1px;" *ngIf="item?.product_variants[0]?.quantity == '0'">
          Out Of Stock
        </div>
        <div class="company-img-div" style="color:rgb(255, 145, 0);font-size: 12pt;margin-left: 1px;" *ngIf="item?.product_variants[0]?.quantity > 0 && item?.product_variants[0]?.quantity < 5">
          Limited Stock
        </div>
      </div>
      <div class="quantity-div">
        
        <!-- <div class="incDesc-div" *ngIf="item?.quantity > 0">
           <div class="minus-plus-div" (click)="removeQuantity(i)">
              <div class="minus-plus-icon-div">
                <ion-icon class="icon-minusPlus" name="remove-outline"></ion-icon>
              </div>
          </div>
          
          <div class="quantity-count">{{item?.quantity}}</div>
        </div> -->
        <div style="margin-bottom: 4px;" *ngIf="item?.product_variants[0]?.quantity != '0'" >
          <div class="product-cart-secTwo">
            <div class="btn-addtoCart" *ngIf="item?.product_variants[0]?.cart_quantity == 0 || item?.product_variants[0]?.cart_quantity == null" (click)="addToCart(item,1)">Add to cart</div>
            <div class="btn-incDesc" *ngIf="item?.product_variants[0]?.cart_quantity > 0">
              <div class="icon-incDesc" (click)="addToCart(item,-1)">-</div>
              <div class="btn-count">{{item?.product_variants[0]?.cart_quantity}}</div>
              <div class="icon-incDesc" (click)="addToCart(item,1)">+</div>
            </div>
          </div>
          </div>
      </div>
    </div>
    </div>

    <div class="table" *ngIf="item?.product_variants[0]?.cart_quantity > 0 && item?.product_variants[0]?.qty_prices != '' ">
      <div class="row header">
        <div class="cell"><strong>Quantity</strong></div>
        <div class="cell"><strong>Wholesale Price</strong></div>
      </div>
      <div *ngFor="let key of item?.product_variants[0]?.qty_prices" class="row">
        
        <div class="cell">{{key?.qty_le != null ? this.coverNumber(key?.qty_gt) + 1 : 'Above ' + key?.qty_gt}} {{key?.qty_le != null ? ' - ' + key?.qty_le : null }}</div>
        <div class="cell">₹ {{key?.price}}</div>
      </div>
    </div>
    
  </div>
</ion-content>
