.custom-header{
    .location-progress {
		--progress-background: var(--primary);
		// --buffer-background: var(--ion-color-bodybackground);
	}
	.custom-toolbar{
		--background:#76ba1b;
	}
	.custom-search-div{
		.hSearch-main{
			display: flex;flex-direction: row;letter-spacing: 0.5px;
			.category-main{
				display: flex;flex: 1;background: #76ba1b;justify-content: center;
				padding: 5px 5px 5px 10px;
				.category-sub{
					background: white;max-height: 47px;
        	        border-radius: 4px;display: flex;
					.category-title{
						text-align: center; display: flex; flex-direction: column;color: #FF4E00;
						justify-content: center;padding: 10px; min-height: 47px;font-size: 13px;font-weight: 600;letter-spacing: 0.5px;
					}
				}
			}
			.search-main{
				display: flex;flex: 4.5;background: #76ba1b;;justify-content: center;
				padding: 5px 10px 5px 5px;
				.search-sub{
					background: white; border-radius: 4px;display: flex; max-height: 47px;
					border-radius: 4px;
					display: flex;
					max-height: 47px;
					width: 100%;
					/* justify-content: center; */
					align-items: center;
					padding: 16px;
					.category-title{
						text-align: center; display: flex; flex-direction: column;color: #D5DBE1;
						justify-content: center;padding: 10px; min-height: 47px;font-size: 13px;font-weight: 600;letter-spacing: 0.5px;
					}
					.custom-ionic-search{
						--box-shadow: none !important;
						--border-radius: 0 !important;
					}
				}
			}
		}
	}
}

.custom-content{
	.product-mainDiv{
		
		margin: 10px;
		padding:12px 8px 8px 0px;
		background-color: #fff;
		.product-img-div{
			display: flex;flex:1;
			.pImg-div{
				//padding:10px;
				.pImage{
					
					width:90%
					//height: 130px;object-fit: contain;
				}
			}
		}
		.product-content-div{
			display: flex;flex:1.5;flex-direction: column;justify-content: space-evenly;
			.content-main{
				flex: 2;display: flex;flex-direction: column;justify-content: space-around;
				.content-title{
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 0.5px;
					padding-bottom: 5px;
				}
				.content-price{
					
					.actual-price{
						text-decoration:line-through;margin-left: 5px;font-size: 15px;color:#a6a6a7
					}
				}
				.price-discount{
					padding-bottom:1px; padding-left: 0px;color: #10C841;
					letter-spacing: 0.5px;font-size: 13px;
				}
				.company-img-div{
					color:#626263;
					font-size: 15px;
					.comImg{
						height: 20px;width: 100px;object-fit: fill;
					}
				}
			}

			.quantity-div{
				display: flex;flex: 1;flex-direction: column;justify-content: center;
				.incDesc-div{
					display: flex;flex-direction: row;justify-content: flex-end;
					.minus-plus-div{
						display: flex;flex-direction: column;justify-content: center; 
						height: 30px;width: 30px;background: #056EAB;border-radius: 50%;
						.minus-plus-icon-div{
							display: flex;flex-direction: row;justify-content: center;
							.icon-minusPlus{
								font-size: 19px; color:white;
							}
						}
					}
					.quantity-count{
						display: flex;
						flex-direction: column;
						justify-content: center;
						padding: 0 8px;font-size: 20px;
					}
					
				}

				// .no-itemCount-div{
				// 	display: flex;flex-direction: row;justify-content: flex-end;
				// 	.no-itemCount-background{
				// 		display: flex;
				// 		background: #10C841;
				// 		padding: 6px 10px;
				// 		min-width: 10px;color: white;
				// 		border-radius: 5px;margin-right:10px;
				// 		.itemCount-addDiv{
				// 			margin-right: 9px;
				// 			font-size: 13px;
				// 			font-weight: 600;
				// 			letter-spacing: 1px;
				// 			padding-top: 2px;
				// 		}
				// 		.itemCount-plus{
				// 			font-size: 19px;
				// 		}
				// 	}
					
				// }

				.product-cart-secTwo{
					display: flex;flex: 1;justify-content: flex-end;
					margin-top:12px;
					.btn-addtoCart{
						padding: 8px 10px; color: white; text-align: center;
						margin: 12px 10px;margin-bottom: 10px; background: #76ba1b; border-radius: 7px;
						width: 100px; //new added
						font-size: 14px;
					}
					
					.btn-incDesc{
						color: white; text-align: center; margin: 12px 10px;margin-bottom: 10px;
						font-size: 15px; letter-spacing: 0.5px; background: #76ba1b; 
						border-radius: 7px;display: flex;
					
						width: 100px; //new added
						.icon-incDesc{
							flex: 1; display: flex; background: #76ba1b; padding: 2px;
							justify-content: center;font-size: 15px; letter-spacing: 0.5px;
							font-size: 1.5rem; border-radius: 4px;
						}
						.btn-count{
							flex: 1; display: flex; background: white; padding: 1px;border:0.5px solid#76ba1b; 
							justify-content: center; font-size: 1rem; border-radius: 4px; color: black;
							flex-direction: column;font-size: 15px; letter-spacing: 0.5px; padding-top: 4px;
						}
					}
				}




			}

		}
  
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .row {
	display: flex;
	width: 100%;
  }
  
  .cell {
	flex: 1;
	border: 1px solid #ccc;
	padding: 8px;
  }
  
  .header {
	font-weight: bold;
  }
  
  /* Apply even and odd row colors */
  .row:nth-child(even) {
	background-color: #f2f2f2; /* Light gray */
  }
  
  .row:nth-child(odd) {
	background-color: #ffffff; /* White */
  }