/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// FONT USE
@font-face {
  font-family: 'fontMedium';
  src: url('/assets/fonts/proxima-nova-medium.ttf');
}
@font-face {
  font-family: 'fontBold';
  src: url('/assets/fonts/Proxima Nova Bold.ttf');
}
@font-face {
  font-family: 'fontRagular';
  src: url('/assets/fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: 'fontSemiBold';
  src: url('/assets/fonts/Proxima-Nova-Semibold.ttf');
}

* {
  font-family: 'fontMedium';
}



:root {
    --primary : #332F2F;
    --secondary : #E57607;
		--tertiary:#25D49E;
    --text-color-primary : #000000;
    --text-color-secondary : #9297A1;
    --white-color : #fff;
    --side-menu:#1e5631;
	--background-content:#F9F9F9;
	--background-color: #E5E5E5;
}

// ion-segment-button {
// 	--indicator-color: transparent !important;
// 	--indicator-color-checked: transparent !important;
// }

ion-header {
	// z-index: 999;
	// &::after {
	// 	display: none !important;
	// }
	ion-toolbar {
		// --background: var(--primary);
		--background:var(--text-color-primary);
		
		
		color: var(--white-color);
		// display: flex;
		// align-items: center;
		// min-height: 60px !important;
		// height: auto;
		// overflow: visible !important;
		// --border-width: 0 !important;
		// ion-buttons {
		// 	position: relative !important;
		// 	margin: 0;
		// 	--padding-end: 0 !important;
		// 	--padding-start: 0 !important;
		// 	--color: var(--white) !important;
		// 	.button-inner {
		// 		ion-icon {
		// 			//font-size: 1.5rem;
		// 			padding-left: 00px;
		// 			color: var(--white);
		// 		}
		// 	}
		// 	ion-back-button {
		// 		--color: var(--primary) !important;
		// 		color: var(--primary) !important;
		// 	}
		// 	ion-menu-button {
		// 		--color: var(--primary) !important;
		// 		--padding-start: 0 !important;
		// 		--padding-end: 0 !important;
		// 		font-size: 1.6rem !important;
		// 		&.ios {
		// 			font-size: 2rem !important;
		// 		}
		// 	}
		// 	ion-back-button {
		// 		.button-native {
		// 			padding: 0 !important;
		// 		}
		// 	}
		// 	&.ios {
		// 		padding: 0 10px !important;
		// 	}
		// 	ion-menu-button {
		// 		img {
		// 			width: 27px;
		// 		}
		// 	}

		// }

		ion-title {
			font-size: 15px;
			letter-spacing: 0.5px;
    	font-weight: 600;
			// color: var(--primary);
			// padding: 0 15px !important;
			// text-align: center;
			// font-size: 1.2rem;
			// font-weight: 500;
			// position: absolute;
			// overflow: visible !important;
			// line-height: 60px;
			// left: 0;
			// top: 0;
			// width: 100%;

			// .end {
			// 	margin-right: 0;
			// 	margin-left: auto;
			// 	display: block;
			// }

		}
	}

	// &.bg_transparent {
	// 	//position: absolute;
	// 	z-index: 999;
	// 	width: 100%;
	// 	height: auto;

	// 	ion-toolbar {
	// 		--background: transparent;
	// 		--ion-color-base: transparent !important;
	// 	}
	// }
}

ion-content{
	--ion-background-color: var(--background-content);
}

.loader-waiting {

	.loading-wrapper {
	  border-radius: 50%;
	  padding: 8px;
	  box-shadow: none;

    /* == New CSS styles -------------------------------- */
    //   width: 50px;
    //   height: 50px;
      display: flex;
      flex-direction: column;
    /* == New CSS styles -------------------------------- */

	  .loading-spinner {
		width: 8vw;
		height: 8vw;
		ion-spinner {
		  width: 8vw;
		  height: 8vw;
          color:#E25C56
		}
	  }
    }
}

.my-custom-class {
	.loading-wrapper {
		padding: 0px;
		box-shadow: none;
		border-radius: 8px;
		img{
			width:95px;
			border-radius: 8px;
		}
	}
	
  }

  .my-custom-class2 {
	.loading-wrapper {
		padding: 10px;
		background: #fff;
		height: 30%;
		width: 100%;
		box-shadow: none;
		border-radius: 8px;
		img{
			width:225px;
			border-radius: 8px;
		}
	}
	
  }

  ion-modal.my-custom-class2 {
    --backdrop-opacity: 0.1 !important;
	
    .modal-wrapper {
		--height: 47% !important;
		--width: 80vw !important;
		--border-radius: 20px !important;	
        position: absolute;
	    bottom: 50;
		background-color: white;
      //margin: 10px;
    }
  }

.picker-opt.picker-opt-selected, .picker-prefix, .picker-suffix {
    color:var(--secondary);
}

.picker-button.sc-ion-picker-md, .picker-button.activated.sc-ion-picker-md {
    color:var(--secondary);
}

ion-alert {
	//background color
	.alert-wrapper.sc-ion-alert-md {
	  background-color: #ffff;
	 
	}
  
	// Header Text
	.alert-title.sc-ion-alert-md {
	  font-size: 25px;
	  font-weight: 600;
	  color: var(--text-color-primary);
	}
  
	// checkbox border color
	[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
	  border-color: var(--secondary);
	}
  
	// checkbox or radio button color
	.alert-radio-inner.sc-ion-alert-md {
	  background-color: var(--secondary)
	}
  
	// wrap the text
	.alert-radio-label.sc-ion-alert-md {
	
	  color: var(--text-color-primary);
	 
	}
  
	// Height of text
	.alert-tappable.sc-ion-alert-md {
	 // height: 77px !important;
	}
  
	// Checked text color
	[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
	  color: var(--text-color-primary);
	 
	}
  
	.native-input[disabled]{
		opacity: 1 !important;
	}
	// Button color
	.alert-button-inner.sc-ion-alert-md {
	  color: var(--secondary);
	  font-size:16px
	 
	}

	.alert-input-wrapper sc-ion-alert-md{
		border-radius: 5px !important;
		border: 1px solid !important;
		padding: 15px 10px !important;
	}
  }

  .red.refresher-native{
	ion-spinner{
	   color: #cf3c4f !important;      
	}
 
	.arrow-container ion-icon{
	   color: #cf3c4f !important;   
	}
 }

 .contact-popover .popover-content{ width: 90%; }
.offer-popover{width: 100%;}
//  .ion-alert{
// 	.alert-input{ 
// 		.change_design{    
// 		border-radius: 5px !important;
// 		border: 1px solid !important;
// 		padding: 15px 10px !important;
// 		}
// 	}
// }
 
 