
  
<ion-content >

  <div style="text-align: end;padding-right: 12px; font-size: 25px; font-weight: bold;margin-top: 10px;">
    <ion-icon name="close-outline" (click)="closePopover()"></ion-icon>
  </div>
  <div style="margin-bottom: 6px;"></div>
  <div style="padding: 0px 10px 10px 10px; text-align: left;">
    <!-- <div style="display: flex;justify-content: flex-start;">
      <div style="background: #055ea4;width:100%;color:#fff;padding:8px;font-weight: bold;text-align: center;"> dd</div>
    </div> -->
    <div style="display: flex;justify-content: flex-start;">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;font-weight: bold;"> Quantity</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px;font-weight: bold">Wholesale Price</div>
    </div>
  
    <div style="display: flex;justify-content: flex-start;" *ngFor="let key of varientData?.product_variants[0]?.qty_prices">
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px">{{key?.qty_le != null ? this.coverNumber(key?.qty_gt) + 1 : 'Above ' + key?.qty_gt}} {{key?.qty_le != null ? ' - ' + key?.qty_le : null }}</div>
      <div style="width:50%;border:1px solid #c2c2c2;padding:8px">₹ {{key?.price}}</div>
    </div>
  
  
  </div>
  </ion-content>
  
