.custom-header{
	.custom-toolbar{
		--background:#76ba1b;
	}
	.custom-segment{
		.custom-segment-btn{
			background: #EBEBEB;
			margin: 8px 3px;
			--indicator-color:none !important;
			letter-spacing: 1px;
			&.active{
				background: #39A3C3;
				color: #fff;
				font-weight: 600;
			}
		}
	}

}

.custom-content{
	background: #EBEBEB;
	.main-div{
		&.addMarginTop{
			margin-top: 10px;
		}
		.manage-order-div{
			display: flex;flex-direction: row;font-size: 15px;letter-spacing: 0.5px;
			justify-content: space-between;background: white;padding: 15px;
			.column-sec{
				display: flex;flex-direction: column;justify-content: center;align-items: center;
				.column-sec-title{
					font-size: 15px;
					&.blackShade{color:#5E5E5E;}
				}
				.column-sec-btn-div{
					&.callBtnColor{
						background: #76ba1b;
					}
					display: flex; flex-direction: row; justify-content: center;
					background: #056EAB; padding: 7px 15px; border-radius: 5px;
					.btn-icon{
						font-size: 26px; color: white;
					}
					.btn-title{
						display: flex; justify-content: center; flex-direction: column;
						 color: white;
						 font-size: 14px;
					}
				}
			}
		}
	}

	// Order-status section start ====>
	.breakdown-status-div{
		display: flex;flex-direction: row;justify-content: flex-start;padding: 0 30px;
	
		.div-one{
			.div-sub-one{
				margin-top:6px;
				display: flex;flex-direction: column;
				.tick-icon{
					font-size: 1.1rem;color:#f56301
				}
			}
			.line-div{
				padding: 3px 0px;
				.custom-line{
					height: 40px;
					width: 10px;
					border: 1.5px dashed;
					border-left-width: 0px;
					border-top-width: 0px;
					border-bottom-width: 0px;
					border-color: #f56301;
				}
			}
		}
		.div-two{
			padding-left:15px;
			.div-two-title{
				margin-top: 5px;
				font-size: 14px;
				letter-spacing: 0.5px;
				font-weight: 500;
			}
			.date-div{
				display: flex;flex-direction: column;justify-content: center;
				.date-row{
					display: flex;flex-direction: row;justify-content: flex-start;margin-top: 10px;
					.date-icon-div{
						display: flex;
						flex-direction: column;
						justify-content: center;
						.calender-img{
							height: 15px;
						}
					}
					.date-title{
						display: flex;
						flex-direction: column;
						justify-content: center;
						padding-left: 10px;
						font-size: 13px;
						font-weight: 500;
						letter-spacing: 0.5px;
						color: #a99f9f;
					}
				}
			}
		}
	}
	//Order-status section END ====>

	.paymentDetails-div{
		margin-top: 10px;background: white;padding: 10px 0;
		.payment-main{
			padding: 0 15px;
			.payment-heading{
				font-size: 14px; letter-spacing: 1px; font-weight: 600; padding: 10px 0;color: #646464;text-transform: uppercase;//
			}
			.payment-devide{
				.payment-common-div{
					display: flex;flex-direction: row;justify-content: space-between;    
					font-size: 14px; letter-spacing: 0.6px;padding-bottom: 10px;
					margin-top: 10px;
					border-bottom: 0.5px solid #D5DBE1;
					.common-sub{

						.coupon-name{
							font-size: 13px;color: #10C841;
							&.changeColor{
								color: #056EAB;
							}
						}
					}
					.key-name{

					}
					.key-value{

					}

					&.addBorder{
						padding-bottom: 10px;
						border-bottom: 1px solid #D5DBE1;
					}
					&.addPaddingTop{
						padding-top: 10px;
					}

				}

				.column-sec{
					display: flex;flex-direction: column;justify-content: center;align-items: center;
					.column-sec-title{
						font-size: 15px;
						&.blackShade{color:#5E5E5E;}
					}
					.column-sec-btn-div{
						&.callBtnColor{
							background: #E57607;
						}
						display: flex; flex-direction: row; justify-content: center;
						background: #056EAB; padding: 7px 15px; border-radius: 5px;
						.btn-icon{
							font-size: 26px; color: white;
						}
						.btn-title{
							display: flex; justify-content: center; flex-direction: column;
							 color: white;
							 font-size: 14px;
						}
					}
				}
			}
		}
	}

	//Cart item section ==>
	.cart-tem-section{
		background: white; padding: 10px 0px 0 0;margin-top: 10px;
		.cart-item-main{
			// padding: 0 15px;
			display: flex; flex-direction: row; padding: 10px 15px; border-bottom: 1px solid #D5DBE1;
			.item-sec-one{
				display: flex;width: 20vw;flex-direction: column;justify-content: center;
				.item-image{
					max-height: 80px; object-fit: contain;
				}
			}
			.item-sec-two{
				display: flex; flex: 2; flex-direction: column; padding-left: 15px;
				.product-title{
					font-size: 14px; font-weight: 500; letter-spacing: 0.5px; padding-bottom: 5px;
				}
				.content-price{
					font-size: 14px; font-weight: 500; color: #CF0202;
					.actual-price{
						color:#A7A7A7;text-decoration:line-through;margin-left: 5px;font-size: 14px;
					}
				}
				.product-discount{
					font-size: 14px; letter-spacing: 0.8px; color: #056EAB; padding: 5px 0;
				}

			}
		}
	}

	//Address section ==>
	.address-div{
		background-color: white;
		padding: 20px 0;
		margin-top: 10px;
		.address-content-div{
			margin: 0 20px;
			.address-heading{
				font-size: 14px;padding-bottom: 0px;text-transform: uppercase; letter-spacing: 1px; font-weight: 600; padding: 10px 0; color: #646464; 	
			}
			.address-details{
				text-transform: capitalize;
				padding-top:0px;
				.add-name{
					text-transform:uppercase;font-size: 15px; letter-spacing: 1px; font-weight: 600; padding: 8px 0;
				}
				.add-desc{
					font-size: 14px;
					letter-spacing: 0.6px;
					padding-bottom: 5px;
				}
			}
		}
	}

	.item-btn-div{
		display: flex;flex-direction: row;justify-content: space-between;padding:15px;
		margin-top: 10px; background: white;
		.btn-sec{
			flex: 1;
			height: 40px;
			font-size: 15px;		
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: #000000;
			color: white;
			text-align: center;
			border-radius: 5px;
			&.changeBackground{
				background: #10C841;
				margin-left: 15PX;
			}

		}
	}


}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }

  .vaccine{
    text-transform: uppercase;
    font-size: 11.5px;
    margin-top: 7px;
    width: 119px;
    background: #c7f9c8;
    color: #008104;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
  }

  .btn-sec{
	flex: 1;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #000000;
	color: white;
	text-align: center;
	border-radius: 5px;
	&.changeBackground{
		background: #10C841;
		margin-left: 15PX;
	}

}